.certificate-wrapper {
    font-family: Times New Roman, sans-serif;
    width: 1009px;
    padding: 38px 60px;
    margin: auto;
    background-color: #fff;
    min-height: 500px;
}
.certificate-heading {
    text-transform: uppercase;
    font-weight: 700;
    margin: 24px auto;
}
